* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
}

ul {
  padding-left: 0%;
}

.doc_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-top: 12px;
}

.subtext {
  color: #42526e;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

/* Nav Bar */

header {
  width: 90%;
  height: 0;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6vh;
  padding: 0;
}

ul li {
  display: flex;
}

nav > ul > li > img {
  flex: 1 1 auto;
  width: 20px;
  height: 15px;
}

.deskt_nav {
  display: none;
}

/* Header */

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  background: 50% 25% no-repeat url("images/header-illustration-mobile.svg");
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.heading1 {
  color: #172b4d;
}

.heading2 {
  color: #36b37e;
}

.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  margin-left: 24px;
  margin-right: 24px;
}

.down_button {
  display: none;
}

section p {
  justify-self: flex-end;
  text-align: center;
}

/* Header Socials */

.social_container {
  width: 100px;
  align-self: center;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials li {
  margin: 2%;
}

/* My Works */

#projects {
  margin: 7%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 474px 474px 474px 474px 474px 474px;
  grid-row-gap: 25px;
}

.title {
  margin-left: 7%;
  margin-right: 7%;
}

.card_heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 60px;
  margin-bottom: 10px;
}

hr {
  margin-top: 10%;
  margin-bottom: 20%;
  border: 3px solid #36b37e;
  border-radius: 5px;
  width: 15%;
}

.project_card {
  height: 474px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #ebf0ee;
}

.project_card ul {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: white;
  padding: 15% 5%;
  margin-bottom: 0%;
  align-items: center;
  border-radius: 5px;
}

.language_btn {
  background-color: #ebf0ee;
  border-radius: 5px;
  padding: 4%;
  font-size: 11px;
}

.button {
  background-color: #36b37f;
  color: white;
  font-size: 17px;
  padding: 5% 3%;
  border: none;
  border-radius: 5px;
  margin-top: 5%;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 8px 16px 0 #36b37f3d;
}

.button:active {
  background-color: #008552;
  box-shadow: none;
}

/*  About Me */

#aboutMe {
  margin-top: 20%;
  margin-bottom: 20%;
  background-image:
    url("images/illustration2-aboutMe-mobile.svg"),
    url("images/illustration2-aboutMe-mobile.svg");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
}

.intro {
  margin-left: 7%;
  margin-right: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_aboutMe {
  text-align: center;
  padding: 12px;
  text-decoration: none;
  height: 48px;
}

/* Skills */

#skills {
  padding-bottom: 5%;
  width: 90%;
}

.skill_container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: repeat(3, 352px);
  grid-row-gap: 25px;
  justify-content: center;
}

.skills_card {
  height: 100%;
  border: 1px solid #c1c7d0;
  border-radius: 5px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.language_btn_skills {
  background-color: #fff;
  border-radius: 5px;
  padding: 4%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  margin-top: 5%;
  margin-right: 7px;
}

.img_background {
  background-color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.img_skills {
  margin-top: 30%;
}

.languages_skills {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 10px;
  padding-left: 15px;
}

.works_card {
  height: 100%;
  border: 2px solid #c1c7d0;
  border-radius: 5px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.lang_container {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.card_background {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

/* Contact Form */

#contact {
  background: 100% 68% url("images/illustration-contact-form.png") no-repeat;
}

.contact_head {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 75px;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-left: 24px;
}

form > input {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 24px;
}

#username:hover,
#useremail:hover,
#message:hover {
  border: 1px solid rgb(8, 192, 253);
  border-radius: 0;
}

form > textarea {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  height: 114px;
  border-radius: 4px;
  border: 1px solid #60c095;
  color: #091e42;
  padding: 12px;
  margin-bottom: 20px;
}

.btn_form {
  height: 48px;
  width: 129px;
  left: 99px;
  top: 282px;
  border-radius: 4px;
  padding: 12px;
  align-self: center;
}

.contact_footer {
  display: flex;
  flex-direction: column;
}

.socials_footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.socials_footer > li > img {
  height: 20px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Contact_para {
  color: #42526e;
  margin-bottom: 300px;
}

.bottom_hr {
  background-color: black;
  border-radius: 5px;
  width: 129px;
  height: 5px;
  border: none;
  margin-bottom: 7px;
}

@media screen and (min-width: 1025px) {
  /* Nav Bar */

  .deskt_nav {
    display: flex;
    justify-content: center;
  }

  .nav_item {
    margin-right: 24px;
    font-weight: 600;
    font-size: 15px;
    color: #42526e;
  }

  .nav_link {
    background-color: white;
    /* transition: background-color, 2s, 1s; */
  }

  .nav_item:hover {
    background-color: red;
  }

  header > nav > ul {
    display: none;
  }

  /* Header Section */

  #main {
    background: no-repeat url("images/Header-llustration-desktop.png");
    background-size: 100%;
  }

  .header_container {
    width: 50%;
    align-items: center;
    margin-top: auto;
  }

  .down_button {
    display: block;
  }

  /* Projects Section */

  #projects {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 100px 474px 474px;
    grid-column-gap: 25px;
    margin-left: 143px;
    margin-right: 143px;
    margin-top: 0;
  }

  .projects_heading {
    grid-column: 1 / span 3;
  }

  .divider {
    display: none;
  }

  /* About Me Section */

  #aboutMe {
    background-image:
      url("images/illustration-about-me-1-desktop.png"),
      url("images/illustration-about-me-2-desktop.png");
    background-position: right top, 0% 80%;
    background-size: 17%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 375px;
  }

  .intro {
    margin: 0;
    width: 60%;
    justify-content: center;
  }

  /* Skills Section */

  .skill_container {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 352px;
    grid-column-gap: 25px;
  }

  /* Contact Section */

  #contact {
    background-image:
      url("images/illustration-1-contact-form-desktop.svg"),
      url("images/illustration-2-contact-form-desktop.png"),
      url("images/illustration-3-contact-form-desktop.png");
    background-position: 0 75%, 25% 75%, 100% 60%;
    background-size: 15%, 10%, 15%;
  }

  .contact_form {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 75px;
    width: 70%;
    gap: 4px;
  }

  .contact_head {
    font-size: 30px;
    margin: 10px 5px 0 24px;
    text-align: start;
  }

  .btn_form {
    align-self: start;
  }

  .Contact_para {
    display: none;
  }

  .contact_footer {
    flex-direction: column-reverse;
  }

  .bottom_hr {
    margin-top: 250px;
    background-color: #dfe1e6;
    width: 100%;
    height: 1px;
  }

  .socials_footer {
    margin-top: 10px;
  }

  #message {
    margin-bottom: 0;
  }
}
